.dot {
    background-color: lightblue;
}

.dot.active {
    background-color: green;
}

.dot__container {
    display: grid;
    height: 80vh;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
}