.dot {
    background-color: lightblue;
    transition: 1s;
    margin: 25%
}

.dot.active {
    background-color: green;
    transition: 1s;
    margin: 10%;
}

.dot__container {
    display: grid;
    height: 80vh;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
}